
.copy-clicker {
    color: var(--text-color);
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
    background-color: var(--layer-1);
    border: solid var(--layer-0) 1px;
    transition: all 0.25s ease; 
}

.copy-clicker:hover {
  cursor: pointer;
  background-color: var(--layer-0);
}

.copy-clicker:active {
  background-color: rgb(15, 20, 15);
  transition: color 0.05s ease;
}

.copy-clicker--copied::before {
  color: rgb(0, 192, 0);
  transition: 1s cubic-bezier(0.16, 1, 0.3, 1);
}
