
.search__share-result {
    color: var(--text-color);
    padding: 5px;
    margin-top: 5px;
    display: inline-block;
    background-color: var(--layer-1);
    border: solid var(--layer-0) 1px;
    transition: all 0.25s ease; 
  }
  
  .search__share-result:hover {
    cursor: pointer;
    background-color: var(--layer-0);
  }
  
  .search__share-result:active {
    background-color: rgb(15, 20, 15);
    transition: color 0.05s ease;
  }
