
/** The search inputs  */
.search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box__input {
    font-size: 30pt;
    width: 20ch;
    border: solid rgb(138, 138, 138) 2px;
    border-radius: 0 1000px 1000px 0;
    padding: 5px 0.5ch;

}

@media (max-width: 720px) {
    .search-box__input {
        padding: 10px 20px;
        width: 80vw;
        font-size: 20pt
    }
}

.search-box__logo {
    width: 500px;
    height: 150px;
}

@media (max-width: 720px) {
    .search-box__logo {
        width: 75%;
        height: 100px;
    }
}

.search-box__link {
    text-align: center;
}

.search-box__input-wrapper {
    display: flex;
    flex-direction: row;
}
.search-box__search-icon {
    display: grid;
    place-items: center;
    background-color: var(--layer-3);
    border-radius: 1000px 0 0 1000px;
    padding-left: 0.5ch;
    width: 5ch;
    font-size: 18pt;
}

.search-box__input:focus {
    outline: none;
}
