
/** The search inputs  */
.search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box__input {
    font-size: 30pt;
    width: 25ch;
    border: solid rgb(138, 138, 138) 2px;
    border-radius: 1000px;
    padding: 5px 20px;
}

@media (max-width: 720px) {
    .search-box__input {
        padding: 10px 20px;
        width: 80vw;
        font-size: 20pt
    }
}

.search-box__input:focus {
    outline: none;
}
