
/** The search inputs  */
.search-box {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box__input {
    font-size: 30pt;
    min-width: 0;
    border: solid rgb(138, 138, 138) 2px;
    border-radius: 1000px;
    padding: 5px 20px;
}

.search-box__input:focus {
    outline: none;
}
