/** Detailed Pokemon Search Result */
.result-detailed {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 

    gap: 10px;

    --pokemon-color: none;
    width: 800px;
    transform-origin: top;
    border-color: var(--pokemon-color);
    background-color: var(--layer-1);
    border-radius: var(--division-radius);
    box-shadow: 0px 0px 5px var(--shadow-color);
    padding: 10px;
    margin: 1% 0;
}

.result-detailed__division {
    padding: 10px;
    background-color: var(--layer-2);
    border-radius: var(--division-radius);
    box-shadow: 1px 1px 1px var(--shadow-color);
}

@media (min-width: 720px) {
    .result-detailed__divsion--tall {
        grid-row: span 2 / auto;
    }
    
    .result-detailed__division--wide {
        grid-column: span 2 / auto;
    }
}

@media (max-width: 720px) {
    .result-detailed__division {
        grid-column: span 2 / auto;
    }
}


.result-detailed__name-detailed {
    font-size: 30pt;
    /* color: var(--pokemon-color); Pokemon with black pokedex colors dont look very nice... */
}

.result-detailed__types-detailed {
    font-size: 25pt;
    margin: 10px;
    font-weight: bold;
}

.result-detailed__flair {
    color: var(--text-color-inverse);
    font-size: 20pt;
    font-weight: bold;
    margin: 5px 10%;
    border-radius: 100px;
    display: block;
}

.result-detailed__flair--true {
    display: block;
}

.result-detailed__is-mythical {
    background-color: rgb(231, 13, 231);
    border: solid rgb(231, 13, 231) 5px;
}

.result-detailed__is-legendary {
    background-color: gold;
    border: solid gold 5px;
}

.result-detailed__is-mega-evo {
    background-color: #00a9cc;
    border: solid #00a9cc 5px;
}

.result-detailed__is-gigamax {
    background-color: rgb(192, 39, 39);
    border: solid rgb(192, 39, 39) 5px;
}

.result-detailed__is-alola {
    background-color: #e8be95;
    border: solid #e8be95 5px;
}

.result-detailed__is-galarian {
    background-color: #6227d1;
    border: solid #6227d1 5px;
}

.result-detailed__flavor-text {
    padding: 0 15%;
}

.result-detailed__base-stats,
.result-detailed__gender-rates {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.result-detailed__stat {
    flex-grow: 1;
    width: 40%;
    background-color: var(--layer-1);
    border-radius: var(--mini-divison-radius);
    box-shadow: 1px 1px 1px var(--shadow-color);
    margin: 5px;
}

.result-detailed__gender {
    flex-grow: 1;
    width: 40%;
    height: 84px;
    display: flex;
    border-radius: var(--mini-divison-radius);
    flex-direction: column;
    justify-content: center;
    background-color: var(--layer-1);
    box-shadow: 1px 1px 1px var(--shadow-color);
    margin: 5px;
}

.result-detailed__gender--female {
    background-color: var(--female-stat-background);
}

.result-detailed__gender--male {
    background-color: var(--male-stat-background);
}

.result-detailed__division--pokedex {
    width: 100%;
}

.result-detailed__division--info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.result-detailed__division--share {
    width: 100%;
}

.result-detailed__division--pokemon {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.result-detailed__flairs {
    padding-bottom: 10px;
}

.result-detailed__pkmn-info-base {
    padding: 10px;
}

.result-detailed__pkmn-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--layer-1);
    border-radius: var(--division-radius);
    box-shadow: 1px 1px 1px var(--shadow-color);
}

.result-detailed__pkmn-info-stat {
    display: flex;
    align-items: center;
    background-color: var(--layer-2);
    box-shadow: 1px 1px 1px var(--shadow-color);
    padding: 10px 0;
    margin: 5px;
    text-align: left;
}

.result-detailed__pkmn-info-icon {
    background-color: var(--layer-3);
    box-shadow: 1px 1px 1px var(--shadow-color);
    /* flexbox abuse 😳 */
    display: inline-flex;
    justify-content: center;
    width: 15px;
    padding: 15px;
    margin: 0px 1ch;
}

.result-detailed__label {
    background-color: var(--layer-1);
    border: 1px solid transparent;
    margin: 10px auto;
    padding: 0.25ch 1ch;
    box-shadow: 1px 1px 1px black;
    width: fit-content;
}

.result-detailed__pokemon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    grid-auto-rows: 255px;
    justify-content: center;

    gap: 10px;
}

@media(max-width: 720px)
{
    .result-detailed__pokemon-grid {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}
