/** Detailed Pokemon Search Result */
.result-detailed {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr); 

    gap: 10px;

    --pokemon-color: none;
    width: 1000px;
    transform-origin: top;
    border-color: var(--pokemon-color);
    background-color: var(--layer-1);
    border-radius: var(--division-radius);
    box-shadow: 0px 0px 5px var(--shadow-color);
    padding: 10px;
    margin: 1% 0;
}

.result-detailed__division {
    grid-column: span var(--grid-width) / auto;
    grid-row: span var(--grid-height) / auto;
    padding: 5px;
    background-color: var(--layer-2);
    border-radius: var(--division-radius);
    box-shadow: 1px 1px 1px var(--shadow-color);
}

.result-detailed__name-detailed {
    font-size: 30pt;
    /* color: var(--pokemon-color); Pokemon with black pokedex colors dont look very nice... */
}

@media (max-width: 720px) {
    .result-detailed__division {
        grid-column: span 8 / auto;
        grid-row: span 8 / auto;
    }
    .result-detailed__name-detailed {
        font-size: 25pt;
        /* color: var(--pokemon-color); Pokemon with black pokedex colors dont look very nice... */
    }
}



.result-detailed__types-detailed {
    font-size: 25pt;
    margin: 10px;
    font-weight: bold;
}

.result-detailed__flair {
    color: var(--text-color-inverse);
    --flair-color: none;
    background-color: var(--flair-color);
    border: solid var(--flair-color) 5px;
    font-size: 20pt;
    font-weight: bold;
    margin: 5px 10%;
    border-radius: 100px;
    display: block;
}

.result-detailed__flavor-text {
    padding: 0 2ch;
}

.result-detailed__base-stats,
.result-detailed__gender-rates {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.result-detailed__stat {
    flex-grow: 1;
    width: 40%;
    background-color: var(--layer-1);
    border-radius: var(--mini-divison-radius);
    box-shadow: 1px 1px 1px var(--shadow-color);
    margin: 5px;
}

.result-detailed__gender {
    flex-grow: 1;
    width: 40%;
    height: 84px;
    display: flex;
    border-radius: var(--mini-divison-radius);
    flex-direction: column;
    justify-content: center;
    background-color: var(--layer-1);
    box-shadow: 1px 1px 1px var(--shadow-color);
    margin: 5px;
}

.result-detailed__gender--female {
    background-color: var(--female-stat-background);
}

.result-detailed__gender--male {
    background-color: var(--male-stat-background);
}

.result-detailed__division--pokedex {
    width: 100%;
}

.result-detailed__division--info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.result-detailed__division--share {
    width: 100%;
}

.result-detailed__division--pokemon {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.result-detailed__flairs {
    padding-bottom: 10px;
}

.result-detailed__pkmn-info-base {
    padding: 10px;
}

.result-detailed__pkmn-info {
    display: flex;
    flex-direction: column;
}

.result-detailed__pkmn-info-stat {
    display: flex;
    align-items: center;
    background-color: var(--layer-1);
    box-shadow: 1px 1px 1px var(--shadow-color);
    border-radius: var(--mini-divison-radius);
    padding: 10px 0;
    margin: 5px;
    text-align: left;
}

.result-detailed__pkmn-info-icon {
    background-color: var(--layer-2);
    border-radius: var(--mini-divison-radius);
    box-shadow: 1px 1px 1px var(--shadow-color);
    /* flexbox abuse 😳 */
    display: inline-flex;
    justify-content: center;
    width: 15px;
    padding: 15px;
    margin: 0px 1ch;
}

.result-detailed__label {
    border-bottom: solid 2px transparent;
    border-image: radial-gradient(currentColor 20%, transparent 100%);
    border-image-slice: 1;
    margin: 10px auto;
    padding: 0.25ch 1ch;
    width: fit-content;
}

.result-detailed__pokemon-grid {
    background-color: var(--layer-0);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    grid-auto-rows: 150px;
    justify-content: center;
    align-content: space-between;

    gap: 10px;
    padding: 5px;
    margin: 10px;
    border: 2px solid var(--layer-1);
    overflow: auto;
    max-height: 480px;
    height: 520px;
}

.result-detailed__pokemon-grid::-webkit-scrollbar {
    width: 0.7em;
}

@media(max-width: 720px)
{
    .result-detailed__pokemon-grid {
        grid-template-columns: 1fr;
    }
}

.result-detailed__type {
    display: inline-block;
    background-color: currentColor;
    text-shadow: 0px 0px 5px var(--shadow-color);
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    width: 8ch;
}
