
footer {
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    min-height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

footer::before {
    border-top: solid 1px transparent;
    padding: 0;
    margin: 0;
    border-image: radial-gradient(rgb(255, 255, 255) 0%, transparent 95%);
    content: "";
    width: 40vw;
    padding: 5px;
    border-image-slice: 1;
}

@media (max-width: 1000px)
{
    footer::before {
        width: 80vw;
    }
}

.footer__content {
    font-size: 12pt;
    margin: 5px 0;
    flex-grow: 2;
}
