.search-result {
    --current-radius: 20px;  
  
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    min-width: 300px;
    min-height: 150px;
  
  
    border-radius: var(--current-radius);
    background-color: var(--layer-1);
    transition: 0.10s all;
    animation: emphasis 0.25s ease forwards;
    box-shadow: 2px 2px 0px var(--shadow-color);
}
    
.search-result:hover {
    background-color: var(--search-result-hover);
    /* outline: solid rgb(189, 53, 19) 3px; */
    cursor: pointer;
}

.search-result:active {
    filter: brightness(90%);
    outline: none;
    box-shadow: 1px 1px 0px var(--shadow-color);
    /* border: solid transparent 3px; */
}

.search-result--disabled {
    filter: brightness(50%);
    box-shadow: 0px 1px 1px var(--shadow-color);
}
.search-result--disabled:active {
    filter: brightness(50%) !important;
    background-color: var(--layer-1);
}
.search-result--disabled:hover {
    filter: brightness(50%) !important;
    background-color: var(--layer-1);
}

.search-result__image {
    width: 96px;
    height: 96px;
}

.search-result__img-container {
    background: var(--layer-2);
    display: grid;
    place-items: center;
    height: 100%;
    padding: 0 0.7em;
    border-radius: var(--current-radius) 0 0 var(--current-radius);
    box-shadow: 1px 0 2px var(--shadow-color);
}

.search-result__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@keyframes emphasis {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
