/** Tooltips and Tooltips and Tooltips and Tooltips and Tooltips and Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip::before {
    content: attr(data-hover-txt);
    position: absolute;
    transform: translate(-50%, 220%);
    top: -10px;
    left: 50%; 
    width: auto;
    padding: 2px 10px;
    border-radius: var(--division-radius);
    background: var(--layer-3);
    /* box-shadow: 0 0 2px var(--shadow-color); */
    color: var(--text-color);
    text-align: center;
    transition: all 0.25s;
    display: none;
    z-index: 999;
  }
  
  .tooltip:hover::before {
    display: block;
    animation: fadein 0.25s ease;
  }
  
  .tooltip:hover::after {
    pointer-events: none;
    display: block;
    animation: fadein 0.25s ease;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%,60%) rotate(45deg);
    background-color: var(--layer-3);
  }
