@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

:root {
  --layer-0: rgb(15, 15, 15);
  --layer-1: rgb(22, 22, 22);
  --layer-2: rgb(32, 32, 32);
  --layer-3: rgb(43, 43, 43);
  --mouse-x: 0;
  --mouse-y: 0;
  --division-radius: 0px;
  --mini-divison-radius: 0px;
  --search-result-hover: rgb(20, 20, 20);
  --male-stat-background: rgb(32, 29, 124);
  --female-stat-background: rgb(126, 35, 81);
  --shadow-color: black;
  --link-color: lightblue;
  --text-color: white;
  --text-color-inverse: black
}

a {
  color: var(--link-color);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

input[type="text"] {
  background-color: var(--layer-1);
  border-color: var(--layer-3);
  /* box-shadow: 0 0 2px var(--shadow-color); */
}

body {
  background-color: var(--layer-0);
  position: relative;
  min-height: 100vh;
}

.App {
  min-height: 100vh;
}

/** Tooltips and Tooltips and Tooltips and Tooltips and Tooltips and Tooltips */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::before {
  content: attr(data-hover-txt);
  position: absolute;
  transform: translate(-50%, 220%);
  top: -10px;
  left: 50%; 
  width: auto;
  padding: 2px 10px;
  border-radius: var(--division-radius);
  background: var(--layer-3);
  /* box-shadow: 0 0 2px var(--shadow-color); */
  color: var(--text-color);
  text-align: center;
  transition: all 0.25s;
  display: none;
  z-index: 999;
}

.tooltip:hover::before {
  display: block;
  animation: fadein 0.25s ease;
}

.tooltip:hover::after {
  pointer-events: none;
  display: block;
  animation: fadein 0.25s ease;
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%,60%) rotate(45deg);
  background-color: var(--layer-3);
}

.search__share-result--copied::before {
  color: rgb(0, 192, 0);
  transition: 1s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes bounce {
  from {
    transform: scale(0.95, 0.95);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** Container for the search results */
.search__result-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 10vh;
}

@media(max-width: 720px)
{
  .search__result-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
}

.pokeimg {
  max-width: 100%;
  min-height: 300px;
  max-height: 390px;
}

.nofilter {
  image-rendering: pixelated;
}

.--bigify {
  font-size: 20pt;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

/* fontawesome why you BROKEEEE???? */
.--force-inheritence {
  color: inherit;
}
