@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

::-webkit-scrollbar {
    width: 1em;
}
   
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--layer-3);
    outline: 1px solid var(--layer-2);
}

html {
    scroll-behavior: smooth;
}

.dark {
    --layer-0: rgb(15, 15, 15);
    --layer-1: rgb(22, 22, 22);
    --layer-2: rgb(32, 32, 32);
    --layer-3: rgb(43, 43, 43);
    --mouse-x: 0;
    --mouse-y: 0;
    --division-radius: 0px;
    --mini-divison-radius: 10px;
    --search-result-hover: rgb(20, 20, 20);
    --male-stat-background: rgb(32, 29, 124);
    --female-stat-background: rgb(126, 35, 81);
    --shadow-color: #070707;
    --link-color: lightblue;
    --text-color: white;
    --text-color-inverse: black
}

a {
    color: var(--link-color);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

input[type="text"] {
    background-color: var(--layer-1);
    border-color: var(--layer-3);
    /* box-shadow: 0 0 2px var(--shadow-color); */
}

body {
    background-color: var(--layer-0);
    position: relative;
    min-height: 100vh;
}

.App {
    min-height: 100vh;
}

@keyframes bounce {
    from {
        transform: scale(0.95, 0.95);
    }
    50% {
        transform: scale(1.05, 1.05);
    }
    to {
        transform: scale(1, 1);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/** Container for the search results */
.search__result-container {
    display: grid;

    grid-template-columns: repeat(auto-fit, 180px);
    grid-auto-rows: 255px;
    justify-content: center;
    /* width: ;
    min-height: 255px; */
    gap: 10px;


    margin: 10px 50px;
}

@media(max-width: 720px)
{
    .search__result-container {
        margin: 10px;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}

.search__result-detailed-container {
    display: flex;
    justify-content: center;
}

.pokeimg {
    max-width: 100%;
    min-height: 300px;
    max-height: 390px;
}

.nofilter {
    image-rendering: pixelated;
}

.--bigify {
    font-size: 20pt;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

/* fontawesome why you BROKEEEE???? */
.--force-inheritence {
    color: inherit;
}
